/node_modules
/public/hot
/public/storage
/public/app
/public/.htaccess
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
/resources/views/app.blade.php
*.pem
./docker/mysql/*
mysql_data
redis_data
.vscode
.prettierignore
phpstan-report.html
phpstan-report.json
psalm-report.php
psalm-report.json

resources/views/debug/phpstan.blade.php
resources/views/debug/psalm.blade.php

.DS_Store